<h1 *ngIf="cashBook" style = "padding-left: 15px">{{cashBook.name}}-Details </h1>

<mat-table  [dataSource]="dataSource" matSort>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <!-- Number of the entry -->
  <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
      <mat-cell *matCellDef>1</mat-cell>
  </ng-container>

  <ng-container matColumnDef="value-date">
      <mat-header-cell *matHeaderCellDef>Datum</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.valueDate}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="purpose">
      <mat-header-cell *matHeaderCellDef>Verwendungszweck</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.purpose}}</mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>


<br>
