<br>

<form style="margin-left: 15px; margin-top: 15px;">
  <mat-form-field *ngIf="cashBook" appearance="fill" float-label="always" style="width: 45%;">
    <strong><input matInput [(ngModel)]="cashBook.name" name="cashBookName" [disabled]="!edit" style="font-size: 35px;"></strong>
  </mat-form-field>
  <br>

  <button *ngIf="!edit" mat-raised-button color="basic" (click)="clickEditButton()">
    Bearbeiten &nbsp; <mat-icon>edit</mat-icon>
  </button>
  <button *ngIf="edit" mat-raised-button color="basic" (click)="clickSaveButton(cashBook)">
    Speichern &nbsp; <mat-icon>save</mat-icon>
  </button>

  <mat-expansion-panel *ngIf="cashBook" style="margin-top: 40px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Neuer Kontostand: {{cashBook.finalWealth | currency: 'EUR'}}</strong>
      </mat-panel-title>
      <mat-panel-description>
        Alter Kontostand: {{cashBook.initialWealth | currency: 'EUR'}} / Ergebnis: {{cashBook.result | currency: 'EUR'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <hr> <br>

    <mat-form-field *ngIf="cashBook" appearance="outline" class="headerFormField">
      <mat-label>Ist-Vermögen (01.01.2020)</mat-label>
      <input matInput [(ngModel)]="cashBook.initialWealth" name="cashBookInitialWealth" [disabled]="!edit" style="align-content: center;">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="cashBook" appearance="outline" class="headerFormField">
      <mat-label>Ist-Vermögen (31.12.2020)</mat-label>
      <input matInput [(ngModel)]="cashBook.finalWealth" name="cashBookFinalWealth" disabled style="align-content: center;">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="cashBook" appearance="outline" class="headerFormField">
      <mat-label>Ergebnis</mat-label>
      <input matInput [(ngModel)]="cashBook.result" name="cashBookResult" disabled style="align-content: center;">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field> <br>

    <mat-form-field *ngIf="cashBook" appearance="outline" class="headerFormField">
      <mat-label>Kalkulatorischer Vermögensstand (01.01.2020)</mat-label>
      <input matInput [(ngModel)]="cashBook.calculatedInitialWealth" name="cashBookCalculatedInitialWealth" [disabled]="!edit" style="align-content: center;">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="cashBook" appearance="outline" class="headerFormField">
      <mat-label>Kalkulatorischer Vermögensstand (31.12.2020)</mat-label>
      <input matInput [(ngModel)]="cashBook.calculatedFinalWealth" name="cashBookCalculatedFinalWealth" disabled style="align-content: center;">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="cashBook" appearance="outline" class="headerFormField">
      <mat-label>Kalkulatorisches Ergebnis</mat-label>
      <input matInput [(ngModel)]="cashBook.calculatedResult" name="cashBookCalculatedResult" disabled style="align-content: center;">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>

  </mat-expansion-panel> <br> <br>

</form>

<mat-tab-group *ngIf="cashBook">
  <mat-tab label="Bulletin">
    <app-cash-book-entry-table [cashBook] = "cashBook"></app-cash-book-entry-table>
  </mat-tab>
  <mat-tab label="Budget">
    <app-cash-book-entry-budget-table [cashBook]= "cashBook"></app-cash-book-entry-budget-table>
  </mat-tab>
</mat-tab-group>
