
<h1 *ngIf="cashBook" style = "padding-left: 15px">{{cashBook.name}} </h1>

<mat-card style="margin: 15px;">
  <table>
    <tr>
      <td>Ist-Vermögen (01.01.2020): </td>
      <td style="padding-left: 25px; float: right;">{{ cashBook.initialWealth | currency:'EUR'}}</td>
      <td style="padding-left: 100px;">Ist-Vermögen (31.12.2020): </td>
      <td style="padding-left: 25px; float: right;">{{cashBook.finalWealth | currency:'EUR'}}</td>
      <td style="padding-left: 100px;"><strong>Ergebnis: </strong></td>
      <td style="padding-left: 25px; float: right;"><strong>{{cashBook.result | currency:'EUR'}}</strong></td>
    </tr>
    <br>
    <tr>
      <td>Kalkulatorischer Vermögensstand (01.01.2020): </td>
      <td style="padding-left: 25px; float: right;">{{ cashBook.calculatedInitialWealth | currency:'EUR'}} </td>
      <td style="padding-left: 100px;">Kalkulatorischer Vermögensstand (31.12.2020): </td>
      <td style="padding-left: 25px; float: right;">{{cashBook.calculatedFinalWealth | currency:'EUR'}}</td>
      <td style="padding-left: 100px;"><strong>Kalkulatorisches Ergebnis: </strong></td>
      <td style="padding-left: 25px; float: right;"><strong>{{cashBook.calculatedResult | currency:'EUR'}}</strong></td>
    </tr>
  </table>
</mat-card>

<mat-tab-group *ngIf="cashBook">
  <mat-tab label="Bulletin">
    <app-cash-book-entry-table [cashBook] = "cashBook"></app-cash-book-entry-table>
  </mat-tab>
  <mat-tab label="Budget">
    <app-cash-book-entry-budget-table [cashBook]= "cashBook"></app-cash-book-entry-budget-table>
  </mat-tab>
</mat-tab-group>
